<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Best Changer</title>
</head>
<body>

<div id="about" align="center">
    <h3>Changer application takes current rates of the main currencies,<br>
		finds the best offer among all banks in Armenia, calculates the result of change<br>
		says which bank offers the most competitive rate,<br>
		as well as provides a direct link to the locations of that bank on Google Maps.</h3><br><br>
    <p>It is a Java/Spring-Boot application. Other technologies used in it are:	<br>
		Gradle as a build tool<br>
		Thymeleaf as a template-engine<br>
		Jsoup library for html parsing</p><br><br>
	<p>The author is Artur Aghajanyan<br>
		E-mail: aghajanyan.aa1@gmail.com<br>
		GitHub: <a href="https://github.com/aghajanyanartur">https://github.com/aghajanyanartur</a></p>
</div>

<form action="/">
	<input id="button" type="submit" name="submit" value="Return Home">
</form>
</body>
</html>